<template>
  <section class="rfs:py-20">
      <div
        class="relative container mx-auto flex flex-col sm:flex-row items-center justify-around z-20"
      >
        <div class=" w-10/12 sm:rfs:w-6/12">
          <a rel="noopener" href="https://www.plotaroute.com/route/1506634" target="_blank">
            <div class="absolute rfs:top-40 left-10 rfs:p-3 xl:rfs:p-5 bg-gradient-to-r from-green-photinias to-yellow-photinias text-white text-lg xl:text-2xl font-title underline">Voir le trajet</div>
          </a>
          <div class="rfs:h-160">
            <img :key="actual_stage === 0 ? current_stage.img : ''" v-lazy="current_stage.img" :src="actual_stage === 0 ? undefined : current_stage.img" alt="Map point" class="round"/>
          </div>
        </div>
        <ul class="w-10/12 sm:rfs:w-5/12 text-gray-500 text-opacity-50 font-body">
        <li v-for="stage in stages" :key="stage.time" :class="[{'rfs:p-2 border-b-2': true}, current_stage == stage ? 'text-white' : '', actual_stage == stage ? 'text-white' : '']" @mouseover="getImg(stage)" >
            <span v-show="actual_stage == stage">&#x21d2;&emsp;</span>
            <span class="font-title">{{ stage.time }}</span>
            <span>{{ stage.city }}</span>
          </li>
        </ul>
      </div>
    </section>
</template>

<script lang="ts">

import { defineComponent } from "vue-demi";
import stage1 from "./maps/global.png";
import stage2 from "./maps/la-chapelle.png";
import stage3 from "./maps/suce-1.png";
import stage4 from "./maps/treillieres.png";
import stage5 from "./maps/sautron.png";
import stage6 from "./maps/saint-herblain.png";
import stage7 from "./maps/nantes.png";
import stage8 from "./maps/reze.png";
import stage9 from "./maps/les-sorinieres.png";
import stage10 from "./maps/vertou.png";
import stage11 from "./maps/haute-goulaine.png";
import stage12 from "./maps/saint-julien.png";
import stage13 from "./maps/mauves.png";
import stage14 from "./maps/suce-2.png";
import stage15 from "./maps/la-chapelle.png";
import stage16 from "./maps/global.png";

export default defineComponent({
  data() {
    const stages = [
        {
          time: '08h30',
          city: ' - Départ',
          img: stage1,
          timestamp: 1619245800
        },
        {
          time: '09h00',
          city: ' - La Chapelle-sur-Erdre',
          img: stage2,
          timestamp: 1619247600
        },
        {
          time: '09h20',
          city: ' - Sucé-sur-Erdre',
          img: stage3,
          timestamp: 1619248800
        },
        {
          time: '09h45',
          city: ' - Treillières',
          img: stage4,
          timestamp: 1619250300
        },
        {
          time: '10h20',
          city: ' - Sautron',
          img: stage5,
          timestamp: 1619252400
        },
        {
          time: '10h50',
          city: ' - Saint-Herblain',
          img: stage6,
          timestamp: 1619254200
        },
        {
          time: '11h10',
          city: ' - Nantes',
          img: stage7,
          timestamp: 1619255400
        },
        {
          time: '11h40',
          city: ' - Rezé',
          img: stage8,
          timestamp: 1619257200
        },
        {
          time: '12h10',
          city: ' - Les Sorinières',
          img: stage9,
          timestamp: 1619259000
        },
        {
          time: '13h20',
          city: ' - Vertou',
          img: stage10,
          timestamp: 1619263200
        },
        {
          time: '13h40',
          city: ' - Haute-Goulaine',
          img: stage11,
          timestamp: 1619264400
        },
        {
          time: '14h10',
          city: ' - Saint-Julien-de-Concelles',
          img: stage12,
          timestamp: 1619266200
        },
        {
          time: '14h50',
          city: ' - Mauves-sur-Loire',
          img: stage13,
          timestamp: 1619268600
        },
        {
          time: '15h50',
          city: ' - Sucé-sur-Erdre',
          img: stage14,
          timestamp: 1619272200
        },
        {
          time: '16h10',
          city: ' - La Chapelle-sur-Erdre',
          img: stage15,
          timestamp: 1619273400
        },
        {
          time: '16h40',
          city: ' - Arrivée',
          img: stage16,
          timestamp: 1619275200
        },
      ]
    return {
      stages,
      current_stage: stages[0],
      actual_stage: this.getActualStage(stages),
    }
  },
  methods: {
    getImg(stage: any) {
      this.current_stage = stage;
      this.$forceUpdate()
    },
    getActualStage(stages: any) {
      for (let index = stages.length-1; index > 0; index--) {
        const stage = stages[index];
        const actual_timestamp = new Date().getTime()/1000;
        
        if (stage.timestamp-600 < actual_timestamp) {
          return stage;
        }
      }
    }
  },
})
</script>
<style>
  .round {
    @apply h-full rounded-full z-20 mx-auto;
  }
  @screen sm {
    .round {
    @apply rounded-full z-20 mx-auto;
    height: unset;
  }
  }
</style>
