<template>
  <section
    class="relative bg-cover bg-center bg-no-repeat bg-texture rfs:pb-16"
  >
    <div
      class="container mx-auto rfs:px-3 rfs:pt-0 sm:rfs:pt-20 flex flex-col-reverse sm:flex-row items-center justify-center"
    >
      <div class="w-full sm:w-10/12 md:w-3/4 xl:w-1/2 z-20">
        <div class="text-yellow-photinias font-title rfs:text-5xl">
          Le Grand Tour des Photinias 2021
        </div>
        <div class="mt-3 text-white font-title rfs:text-3xl">
          Eliott & Simon
        </div>
        <p class="rfs:mt-10 text-white font-body font-bold rfs:text-xl">
          Le grand tour des Photinias, c'est fini !
          C'est un tour de 110 kilomètres lancé par deux
          étudiants, suite à un coup de tête, juste pour déconner. Le but :
          rester dans le rayon des 10 kilomètres, et faire son périmètre. (Oui
          on n’a pas dormi pour faire ce site internet)
        </p>
        <button
          class="rfs:mt-10 rfs:p-3 border-2 border-white text-white font-body font-bold uppercase hover:text-yellow-photinias hover:border-yellow-photinias focus:outline-none focus:ring-2 focus:ring-yellow-photinias focus:ring-opacity-50"
          @click="scrollToLiveMap"
        >
          Position temps réel
        </button>
      </div>
      <div
        class="rfs:w-full sm:rfs:w-2/3 md:rfs:w-1/2 flex justify-center sm:justify-end z-20"
      >
        <img src="./Logo2.3.svg" alt="Logo" class="rfs:p-3 rfs:w-144" />
      </div>
    </div>
    <div class="relative rfs:mt-24 z-20">
      <p
        class="w-10/12 mx-auto text-center text-white text-opacity-50 font-title z-30"
      >
        La Chapelle-sur-Erdre - Sucé-sur-Erdre - Treillières - Sautrons - Nantes
        - Saint-Herblain - Rezé - Les Sorinières - Vertou - Haute-Goulaine -
        Saint-Julien-de-Concelles - Mauves-sur-Loire
      </p>
    </div>
    <img
      v-lazy="object1"
      alt="Object 1"
      class="filter brightness-75 absolute hidden sm:block rfs:top-48 left-0 rfs:w-1/3 z-0"
    />
    <img
    v-lazy="object2"
      alt="Object 2"
      class="filter brightness-75 absolute hidden sm:block rfs:top-144 right-0 rfs:w-1/3 z-0"
    />
  </section>

  <!-- BANNER -->
  <section ref="livemap" class="relative z-20">
    <div
      class="flex justify-center items-center bg-cover bg-center bg-no-repeat bg-image-1 h-80"
    >
      <iframe
        v-if="hasCountdownFinished"
        class="w-full h-full"
        title="Realtime map"
        :src="iframeUrl"
      ></iframe>
      <p
        v-else
        class="rfs:w-1/2 max-w-96 text-center text-white font-body uppercase"
      >
        La position en temps reel sera lancée au début du tour le samedi 24 avril
        à 8h30
      </p>
    </div>
    <p class="text-white text-center rfs:text-xs">
    <a v-if="hasCountdownFinished" rel="noopener" :href="iframeUrl" target="_blank">Ouvrir la carte dans un nouvel onglet</a>
    </p>
  </section>
</template>

<script lang="ts">
import animateScrollTo from "animated-scroll-to";
import Timer from "tiny-timer";
import { defineComponent } from "vue-demi";
import { iframeUrl, startDate } from "../../../constants";
import object1 from './object1.png'
import object2 from './object2.png'
const timer = new Timer();
timer.start(startDate.getTime() - Date.now());

export default defineComponent({
  data() {
    return {
      hasCountdownFinished: false,
      iframeUrl,
      object1,
      object2
    };
  },
  created() {
    if (timer.status === "stopped") {
      this.hasCountdownFinished = true;
    }
    timer.on("done", () => {
      this.hasCountdownFinished = true;
    }); 
  },
  methods: {
    scrollToLiveMap() {
      animateScrollTo(this.$refs.livemap as Element, {
        verticalOffset: -200,
      });
    },
  },
});
</script>
