<template>
  <section class="relative rfs:my-32">
      <div
        class="flex flex-col-reverse sm:flex-row items-center justify-around flex-wrap"
      >
        <img
          v-lazy="treillieres"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="menardais"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="sautron"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="stherblain"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="n1"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="reze"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="couets"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="vertou"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="stjuliendecls"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="vaches"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="lacourbe"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="arrivee"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="img1"
          alt="Picture 1"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="img2"
          alt="Picture 2"
          class="rfs:my-3 rfs:mx-5  rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />
        <img
          v-lazy="img3"
          alt="Picture 3"
          class="rfs:my-3 rfs:mx-5 rfs:w-10/12 sm:rfs:w-1/4 border-white border-8 z-20"
        />

      </div>
      <img
        v-lazy="object4"
        alt="Object 4"
        class="filter brightness-75 absolute hidden sm:block rfs:top-0 right-0 rfs:w-5/12 md:rfs:w-1/3 lg:rfs:w-1/4 z-0"
      />
    </section>
</template>

<script lang="ts">
import treillieres from './treillieres.jpg'
import menardais from './la-mernardais.jpg'
import sautron from './sautron.jpg'
import stherblain from './saint-herblain.jpg'
import n1 from './n1.jpg'
import reze from './rezé.jpg'
import couets from './les-couets.jpg'
import vertou from './vertou.jpg'
import stjuliendecls from './saint-julien-concelles.jpg'
import vaches from './vaches.jpg'
import lacourbe from './la-courbe.jpg'
import arrivee from './arrivée.jpg'

import img1 from './img-1.jpg'
import img2 from './img-2.jpg'
import img3 from './img-3.jpg'
import object4 from './object4.png'
export default {
  data() {
    return {
      treillieres,
      menardais,
      sautron,
      stherblain,
      n1,
      reze,
      couets,
      vertou,
      stjuliendecls,
      vaches,
      lacourbe,
      arrivee,
      img1,
      img2,
      img3,
      object4
    }
  }
}
</script>
