<template>
  <section class="relative rfs:py-20">
      <div class="container mx-auto rfs:px-3 z-20">
        <div class="flex flex-col sm:flex-row items-center justify-between">
          <div class="w-full sm:w-6/12 rfs:mb-8 sm:rfs:mb-32 z-20">
            <div
              class="text-center sm:text-left text-white font-title rfs:text-4xl"
            >
              Un trajet d'environ 110km en 6h de déplacement
            </div>
          </div>
          <div class="w-full sm:w-5/12 flex justify-center sm:justify-end z-20">
            <img
              v-lazy="twoCyclist"
              alt="Two cyclists"
              class="rfs:w-160 border-white border-8"
            />
          </div>
        </div>
      </div>
      <img
        v-lazy="object3"
        alt="Object 3"
        class="filter brightness-75 absolute hidden sm:block rfs:top-48 left-0 rfs:w-7/12 z-0"
      />
    </section>
</template>

<script lang="ts">
import twoCyclist from './two-cyclists.jpg'
import object3 from './object3.png'
export default {
  components : {
    
  },
  data() {
    return {
      object3,
      twoCyclist
    }
  }
}
</script>
