<script lang="ts">
import animateScrollTo from "animated-scroll-to";

import Arrow from "vue3-material-design-icons/ArrowUpBold.vue";

import { defineComponent } from "@vue/runtime-core";
import Title from "../components/1-Title/Title.vue";
import Metrics from "../components/3-Metrics/Metrics.vue";
import Descript from "../components/4-Descript/Descript.vue";
import Stages from "../components/5-Stages/Stages.vue";
import Pictures from "../components/6-Pictures/Pictures.vue";
import Softwares from "../components/7-Softwares/Softwares.vue";
import Banner2 from "../components/8-Banner/Banner-2.vue";
import Profils from "../components/9-Profils/Profils.vue";

const components = {
  Title,
  Metrics,
  Descript,
  Stages,
  Pictures,
  Softwares,
  Banner2,
  Profils,
  Arrow
};

export default defineComponent({
  components,
  setup() {

  },
  data() {
    return {
      visible: false,
    };
  },
  mounted() {
    window.addEventListener('scroll', this.catchScroll);
  },
  methods: {
    catchScroll() {
      this.visible = window.pageYOffset > 100;
    },
    scrollToTop() {
      animateScrollTo(this.$refs.top as Element, {
        verticalOffset: -100,
      });
    },
  },
});

</script>

<template>
  <main ref="top" class="w-full h-full bg-gradient-to-r from-blue-dark to-gray-dark">
    <!-- TITLE -->
    <Title />

    <!-- METRICS -->
    <Metrics />

    <!-- DESCRIPTION -->
    <Descript />

    <!-- STAGES -->
    <Stages />

    <!-- PICTURES -->
    <Pictures />

    <!-- SOFTWARES -->
    <Softwares />

    <!-- BANNER 2 -->
    <Banner2 />

    <!-- PROFILS -->
    <Profils />

    <button v-show="visible" class="fixed bottom-2 sm:bottom-8 right-2 sm:right-8 bg-blue-dark text-white border-white border-2 rounded z-50" @click="scrollToTop()">
      <Arrow :size="32" />
    </button>
  </main>
</template>

<route lang="yaml">
meta:
  layout: default
</route>
