<template>
  <section class="rfs:pt-10 rfs:pb-20">
    <div
      class="container mx-auto flex flex-row flex-wrap justify-center xl:flex-nowrap whitespace-nowrap text-white"
    >
      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mt-10">
        <TimerOutline :size="64" decorative />
        <p class="rfs:mt-2 font-body">Durée de déplacement</p>
        <client-only>
          <p class="rfs:mt-5 font-title rfs:text-2xl">
            05:49:08
          </p>
        </client-only>
      </div>
      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mt-10">
        <TimerOutline :size="64" decorative />
        <p class="rfs:mt-2 font-body">Temps total</p>
        <client-only>
          <p class="rfs:mt-5 font-title rfs:text-2xl">
            08:01:34
          </p>
        </client-only>
      </div>
      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mt-10">
        <MapMarkerDistance :size="64" decorative />
        <p class="rfs:mt-2 font-body">Distance parcourue</p>
        <client-only>
          <p class="rfs:mt-5 font-title rfs:text-2xl">
            113,25 km
          </p>
        </client-only>
      </div>
      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mt-10">
        <ElevationRise :size="64" decorative />
        <p class="rfs:mt-2 font-body">Dénivelé positif</p>
        <client-only>
          <p class="rfs:mt-5 font-title rfs:text-2xl">
            820 m
          </p>
        </client-only>
      </div>
      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mt-10">
        <Speedometer :size="64" decorative />
        <p class="rfs:mt-2 font-body">Vitesse moy.</p>
        <client-only>
          <p class="rfs:mt-5 font-title rfs:text-2xl">
            19,5 km/h
          </p>
        </client-only>
      </div>
      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mt-10">
        <Speedometer :size="64" decorative />
        <p class="rfs:mt-2 font-body">Vitesse max.</p>
        <client-only>
          <p class="rfs:mt-5 font-title rfs:text-2xl">
            66,6 km/h
          </p>
        </client-only>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Speedometer from "vue3-material-design-icons/Speedometer.vue";
import TimerOutline from "vue3-material-design-icons/TimerOutline.vue";
import ElevationRise from "vue3-material-design-icons/ElevationRise.vue";
import MapMarkerDistance from "vue3-material-design-icons/MapMarkerDistance.vue";
import { defineComponent, watch } from "@vue/runtime-core";
import { useInterval } from "@vueuse/core";

import { Ref, ref } from "vue";
import formatDuration from "date-fns/formatDuration";
import intervalToDuration from "date-fns/intervalToDuration";

import Timer from "tiny-timer";
import fr from "date-fns/locale/fr";
import { publicSessionToken, startDate } from "../../../constants";
import { ContentObject, Rep1 } from "../../../api/phonetracksapi";
import { phonetrackApi } from "../../../api";

const components = {
  Speedometer,
  TimerOutline,
  ElevationRise,
  MapMarkerDistance,
};
const timer = new Timer();
timer.start(startDate.getTime() - Date.now());
export default defineComponent({
  components,
  props: {
    isStarted: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, ctx) {
    const timewatch = ref("");

    const { counter } = useInterval(5000);
    const { counter: counterDate } = useInterval(1000);
    watch(counterDate, () => {
      timewatch.value = formatDuration(
        intervalToDuration({
          start: startDate,
          end: Date.now(),
        }),
        { locale: fr }
      );
    });

    const responseData: Ref<ContentObject> = ref({});
    const finished = ref(false);

    watch(counter, async () => {
      if (timer.status === "running") {
        return;
      }
      try {
        const { data, body } = await phonetrackApi.api.getlastpositionsDetail(
          publicSessionToken
        );
        if (body == null) {
          throw new Error("invalid token");
        }
        finished.value = true;

        const obj = (data as Rep1)[publicSessionToken];
        const keys = Object.keys(obj);
        const random = Math.floor(Math.random() * keys.length);
        responseData.value = obj[keys[random]];
        console.log(responseData);
      } catch (e) {
        finished.value = false;
        console.error(e);
      }
    });
    return {
      responseData,
      finished,
      timewatch,
    };
  },
});
</script>
