<template>
    <div :class="[{'flex flex-col items-center justify-between': true}, reverse ? 'sm:flex-row-reverse' : 'sm:flex-row']">
        <div class="w-full sm:rfs:w-5/12 flex justify-center items-center z-10">
            <img v-lazy="imgSrc" alt="Portrait" class="rfs:my-16 sm:my-0 rfs:w-144 border-white border-8">
        </div>
        <div class="w-full sm:rfs:w-5/12">
            <p class="text-white font-title rfs:text-5xl">{{ name }}</p>
            <p class="rfs:my-10 text-white font-body rfs:text-lg">{{ desc }}</p>
            <a rel="noopener" target="_blank" :href="href" class="rfs:my-0 sm:rfs:my-10 rfs:p-3 border-2 border-white text-white font-body font-bold uppercase hover:text-yellow-photinias hover:border-yellow-photinias focus:outline-none focus:ring-2 focus:ring-yellow-photinias focus:ring-opacity-50 ">LinkedIn</a>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        name: String,
        desc: String,
        imgSrc: String,
        href: String,
        reverse: {
            type: Boolean,
            default: false
        }
    },
}
</script>