<template>
    <!-- PORTRAIT -->
  <section class="relative rfs:mt-20 lg:rfs:mt-52">
      <div class="container mx-auto rfs:px-3">
        <Portrait
          reverse
          name="Eliott"
          href="https://www.linkedin.com/in/eliott-d-26a309181/"
          :img-src="portrait1" 
          desc="Etudiant en sécurité informatique et cycliste amateur, je me lance des challenges sportifs à vélo de plus en plus en long pour pouvoir effectuer des trajets Eurovélo."
        />
      </div>
      <img
        v-lazy="object5"
        alt="Object 5"
        class="filter brightness-75 absolute hidden sm:block rfs:top-0 right-0 rfs:w-5/12 md:rfs:w-1/3 lg:rfs:w-1/4 z-0"
      />
    </section>

    <!-- PORTRAIT -->
    <section class="relative rfs:mt-20 lg:rfs:mt-52 rfs:pb-16">
      <div class="container mx-auto rfs:px-3">
        <Portrait
          name="Simon"
          :img-src="portrait2"
          href="https://www.linkedin.com/in/simon-sassi/"
          desc="Apprenti-ingénieur en informatique à Nantes, je fais ce tour pour affirmer à tout le monde que je connais enfin le pays nantais. 110 km, c'est une première pour moi. Je vais faire les prochains 110km en Bicloo, vous me rejoignez ?"
        />
      </div>
      <img
        v-lazy="object6"
        alt="Object 6"
        class="filter brightness-75 absolute hidden sm:block rfs:top-0 left-0 rfs:w-5/12 md:rfs:w-1/3 lg:rfs:w-1/4 z-0"
      />
    </section>
</template>

<script lang="ts">
import Portrait from "./Portrait.vue";
import portrait1 from "./profil-1.jpg";
import portrait2 from "./profil-2.jpg";
import object5 from './object5.png'
import object6 from './object6.png'
export default {
  components: {
    Portrait
  },
  data() {
    return {
      portrait1,
      portrait2,
      object5,
      object6
    };
  },
}
</script>
