<template>
  <section class="rfs:mt-20 relative z-20">
      <div
        class="flex justify-center items-center bg-cover bg-center sm:bg-top bg-no-repeat bg-image-2 h-96"
      ></div>
    </section>
</template>

<script lang="ts">
export default {}
</script>
