<template>
  <section class="rfs:mt-20">
      <div class="container mx-auto flex flex-col sm:flex-row items-center justify-around">
        <div class="rfs:w-10/12 sm:rfs:w-5/12 text-white font-body">
          <p class="rfs:m-5 text-center text-4xl font-title">Outils et applications</p>
          <ul class="rfs:m-5">
            <li v-for="software in softwares" :key="software.title" class="rfs:p-2 border-b-2">
              <a rel="noopener" :href="software.link" target="_blank">
              <span class="font-title">{{ software.title }}</span>
              <span>{{ software.desc }}</span>
              </a>
            </li>
          </ul>
        </div>
        <img v-lazy="softwaresImg" alt="Map point" class="rfs:m-5 rfs:w-10/12 sm:rfs:w-6/12 md:rfs:w-5/12 bg-white bg-opacity-20 rounded-3xl"/>
      </div>
    </section>
</template>

<script lang="ts">
import softwaresImg from './softwares.svg'
export default {
  data() {
    return {
      softwaresImg,
      softwares: [
        {
          title: 'Vite',
          desc: ' - Outil de développement',
          link: 'https://vitejs.dev/'
        },
        {
          title: 'Vue.js',
          desc: ' - Framework JS',
          link: 'https://v3.vuejs.org/'
        },
        {
          title: 'Tailwind CSS',
          desc: ' - Framework CSS',
          link: 'https://tailwindcss.com/'
        },
        {
          title: 'Phonetrack-oc',
          desc: ' - Carte en temps réel',
          link: 'https://github.com/buddebej/phonetrack-oc'
        },
        {
          title: 'Osmand',
          desc: ' - Direction et traqueur',
          link: 'https://osmand.net/'
        },
        {
          title: 'Plotaroute',
          desc: ' - Création de l\'itinéraire',
          link: 'https://www.plotaroute.com/'
        },
        {
          title: 'OpenStreetMap',
          desc: ' - Carte collaborative',
          link: 'https://www.openstreetmap.org/'
        },
        {
          title: 'Streetwarp-cli',
          desc: ' - Générateur d\'hyperlapse',
          link: 'https://github.com/pelmers/streetwarp-cli'
        },
        {
          title: 'GitLab',
          desc: ' - Outils de gestion de projet',
          link: 'https://gitlab.com/'
        },
        {
          title: 'Discord',
          desc: ' - Outils de communication',
          link: 'https://discordapp.com/'
        },
      ],
    }
  }
}
</script>
