<script setup lang="ts">
import { useHead } from '@vueuse/head'

// https://github.com/vueuse/head
// you can use this to manipulate the document head in any components,
// they will be rendered correctly in the html results with vite-ssg
useHead({
  title: 'Le Grand Tour des Photinias | Nantes Photeamias',
  meta: [
    { name: 'description', content: 'Un tour de 110 kilomètres lancé il y a deux semaines par deux étudiants, suite à un coup de tête, juste pour déconner. Le but : rester dans le rayon des 10 kilomètres, et faire son périmètre, sur Nantes.' },
    { name: 'og:image', content: '/logo.png' },
    { name: 'og:image:type', content: 'image/png' },
    { name: 'og:image:width', content: '500' },
    { name: 'og:image:height', content: '500' },
    { name: 'twitter:card', content: 'summary_large_image' },
    { name: 'twitter:image', content: 'twitter:image' },
  ],
})
</script>

<template>
  <router-view />
</template>
