<template>
  <Header />
  <div class="">
    <router-view />
  </div>
  <footer class="bg-blue-dark font-body text-white rfs:text-sm z-30">
    <div class="rfs:p-5 flex justify-center">
      <span class="flex">© Copyright 2021&emsp;-&emsp;Patrons Dev Team&emsp;|&emsp;<a href="https://gitlab.com/patrons-dev-team/le-grand-tour-des-photinias" rel="noopener" target="_blank"><Gitlab /></a></span>
    </div>
    <p class="rfs:-mb-4 rfs:text-xs text-center">Projet réalisé dans le respect des gestes barrières et des règles sanitaires actuelles.</p>
  </footer>
</template>

<script lang="ts">
import Gitlab from "vue3-material-design-icons/Gitlab.vue";
import Header from './Header.vue';
const components = { Header, Gitlab }
export default { components }
</script>

<style>
body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
</style>

<style scoped>
.layout {
  display: flex;
  max-width: 900px;
  margin: auto;
}
.content {
  padding: 20px;
  border-left: 2px solid #eee;
  padding-bottom: 50px;
  min-height: 100vh;
}
.navigation {
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8em;
}
.logo {
  margin-top: 20px;
  margin-bottom: 10px;
}
</style>
