<template>
  <header
    class="px-4 py-2 sm:p-4 md:p-5 sticky top-0 bg-blue-dark font-title text-white rfs:text-lg z-30"
  >
    <div
      class="container mx-auto flex flex-wrap whitespace-nowrap justify-between"
    >
      <span><a rel="noopener" href="https://legrandtour.photeamias.fr">photeamias.fr</a> | Nantes</span>
      <div v-if="!endDate" class="flex">
        <span id="header-cd-text" class="mr-2">Départ dans</span>
        <div id="header-cd-time">
          <vue-countdown ref="countdown" :end-date-time="endDateTime">
            <template #default="{ countdown }">
              <span id="header-cd-time-d"
                >{{ countdown.remainingDays.value }}j
              </span>
              <span id="header-cd-time-h"
                >{{ countdown.remainingHours.value }}h
              </span>
              <span id="header-cd-time-m"
                >{{ countdown.remainingMinutes.value }}m
              </span>
              <span id="header-cd-time-s"
                >{{ countdown.remainingSeconds.value }}s</span
              >
            </template>
          </vue-countdown>
        </div>
      </div>
      <div v-else class="flex">
        <span id="header-cd-text" class="mr-2">Arrivée le {{arrivedDate}}</span>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import {format} from 'date-fns'
import fr from 'date-fns/locale/fr'
import { startDate, endDate } from "../../constants";
import VueCountdown from "./countdown/VueCountdown";

export default {
  components: { 
    VueCountdown,
  },
  data() {
    return {
      arrivedDate: endDate ? format(endDate, 'dd/MM/yyyy à HH:mm', {locale: fr}) : '',
      endDateTime: startDate,
      endDate,
      isClient: typeof window !== 'undefined'
    };
  },
};
</script>
